<h1>Flashcards</h1>

<% if @card %>
<%= @card.prompt %>

<form method="post" action="/guess">
  <label>Enter your guess:</label>
  <input type="hidden" name="card_id" value="<%= @card.id %>"/>
  <input type="text" name="form_guess">
  <br>

  <input type="submit" value="submit your guess">
</form>

<% else %>
<h3>Results: </h3>

<% end %>
